.container-fluid {
  /*background-color: #116466;*/
  background-color: #105658;
  /*background-color: #0f5c5e;*/
  /*background-color: #0e5456;*/
}

#create-bill{
  display: none;
}

.buttons {
  align-items: center;
}

.navbar.navbar-inverse {
    background-color: #99ccff;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

/*#container {
  text-align: center;
}*/

.btn-view, .btn-create {
  /*background-color: #D9B08C;*/
  background-color: #FFCB9A;
  border: 4px solid;
  /*border-radius: 15px;*/
  /*color: #808080;/*
  /*color: #2C3531;*/
  color: #544436;
}

#nav-bar-signup, #nav-bar-signin, #nav-bar-signout, #nav-bar-chgpswd {
  color: #FFCB9A;
}
/*.navbar-brand, .nav > li > a {
  padding: 30px 15px;
}*/

/*.navbar-brand {
  padding: 40px 20px;
}*/

/*.btn-view {
  display: inline-block;
}

.btn-create {
  display: inline-block;
}*/

.headingContainer {
  align-items: center;
  background-color: #FFCB9A;
  /*background-color: #FDD5AF;*/
  display: flex;
  height: 100px;
}

.headingContainer, h2 {
  margin: auto;
  vertical-align: middle;
}

.topHeading {
  color: #544436;
  font-family: Georgia, serif;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 22px;
  padding-top: 10px;
  vertical-align:middle;
}


#change-password, #sign-out {
  display: none;
}

.list-group-item-heading {
  color: #544436;
  font-family:  Georgia, serif;
  /*font-style: oblique;*/
  font-size: 35px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.list-group-item-text {
  /*font-family:  Georgia, serif;*/
  font-family:sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}

.updateBillModal {
  background-color: #FFCB9A;
}

.modal-title, h5 {
  /*color: #FFCB9A;*/
  font-size: 25px;
  /*color: #ab430a;*/
  color: #d66806;
}

/*#modalForm {
  color: #105658;
}*/

/*class="modal-title" id="modalLabel*/

#content {
  /*background: rgba(255, 255, 255,0.65);*/
  /*opacity: 0.35;*/
  /*opacity: 1;*/
  opacity: .7;
  /*opacity: .4;*/
  /*background-color: #105658;*/
  /*color: inherit;*/
  /*border: 2px solid;
  border-radius: 15px;*/
  padding-left: 25%;
  padding-right: 25%;
  display: none;
}

.authlabel, .createlabel, .updatelabel {
  /*color: #d6d2b5;*/
  color: #fdd5af;
  font-size: 18px;
}

#submit-update {
  /*background-color: #f9c494;*/
  background-color: #dfc5ac;
  color: #896443;
}

.authClickSignup, .authClickSignin, .authClickPswd, .authClickSignout, .btn-newbill, .paybill, .updatebill {
  background-color: #FFCB9A;
  border: 2px solid;
  border-radius: 15px;
  color: #544436;
  font-size: 15px;
}

.signup, .signin, .pswdchange, .createBill, .updateBill {
  background-color: #c7baaf;
}

#creditor, #month, #amount {
  background-color: #ddd9d5;
}


.message {
  /*color: #fdd5af;*/
  /*color: #dd920a;*/
  /*color: #f92702;*/
  color: #e55506;
  font-family: sans-serif;
  font-size: 18px;
  text-align: left;
}
