.container-fluid {
  background-color: #183249;
}

#create-bill{
  display: none;
}

.buttons {
  align-items: center;
}

.navbar.navbar-inverse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-view, .btn-create {
  background-color: #cec491;
  color: #800000;
}

#nav-bar-signout, #nav-bar-chgpswd {
  color: #cec491;
  font-size: 20px;
}

.headingContainer {
  align-items: center;
  background-color: #dbd095;
  display: flex;
  height: 100px;
}

.headingContainer, h2 {
  margin: auto;
  vertical-align: middle;
}

.topHeading {
  color: #800000;
  font-family: Georgia, serif;
  font-size: 50px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 22px;
  padding-top: 10px;
  vertical-align:middle;
}

#change-password {
  display: none;
}

#item {
  background-color: #cec491;
}

#creditor_heading {
  color: #183249;
  font-family: sans-serif;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.list-group-item-text {
  font-family: sans-serif;
  font-size: 22px;
  font-weight: bold;
  text-align: left;
  color: #183249;
}

.updateBillModal {
  background-color: #FFCB9A;
}

.modal-title, h5 {
  font-size: 30px;
  color: #800000;
}

#content {
  display: none;
  opacity: .9;
  background-color: #183249;
  padding-left: 25%;
  padding-right: 25%;
}

.authlabel, .createlabel {
  color: #cec491;
  font-size: 20px;
}

#submit-update {
  background-color: #dfc5ac;
  color: #896443;
}

.authClickSignup, .authClickSignin, .authClickPswd, .btn-newbill {
  background-color: #cec491;
  border: 1px solid;
  border-radius: 8px;
  color: #800000;
  font-size: 17px;
}

.paybill, .updatebill {
  background-color: #183249;
  border: 2px solid;
  border-radius: 8px;
  color: #dbd095;
  font-size: 15px;
}

.signup, .signin, .pswdchange, .createBill, .updateBill {
  background-color: #c7baaf;
}

.createBill, .pswdchange, .signup, .signin {
  border: 1px solid #999999;
  font-size: 15px;
  height: 31px;
  padding: 5px;
  width: 152px;
}

.message {
  color: #dd920a;
  font-family: sans-serif;
  font-size: 18px;
  padding-left: 2%;
  text-align: left;
}

#billmsg {
  color: #e39811;
  font-family: sans-serif;
  font-style: italic;
  font-size: 30px;
  text-align: center;
}
