.container-fluid {
  background-color: #105658;
}

#create-bill{
  display: none;
}

.buttons {
  align-items: center;
}

.navbar.navbar-inverse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn-view, .btn-create {
  background-color: #FFCB9A;
  color: #544436;
}

#nav-bar-signout, #nav-bar-chgpswd {
  color: #FFCB9A;
  font-size: 20px;
}

.headingContainer {
  align-items: center;
  background-color: #FFCB9A;
  display: flex;
  height: 100px;
}

.headingContainer, h2 {
  margin: auto;
  vertical-align: middle;
}

.topHeading {
  color: #544436;
  font-family: Georgia, serif;
  font-size: 60px;
  font-style: italic;
  font-weight: bold;
  padding-bottom: 22px;
  padding-top: 10px;
  vertical-align:middle;
}


/*#change-password, #sign-out {
  display: none;
}*/

#change-password {
  display: none;
}

/*.viewarea {
  color: #f0126b;
  font-family:  Georgia, serif;
  background-color: #FFCB9A;
}*/

.container-handler {
  /*color: #f0126b;*/
  /*font-family:  Georgia, serif;*/

  /*background-color: #d8c3ae;*/
}

#item {
  background-color: #FFCB9A;
    /*background-color: #d8c3ae;*/
}

/*#25 {
  background-color: #FFCB9A;
}*/

/*.list-group-item-heading {
  font-family:  Georgia, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}*/

#creditor_heading {
  /*background-color: black;*/
  /*color: #f0126b;*/
  color: red;
  font-family:  Georgia, serif;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

/*h3, .list-group-item-heading {
  color: #f0126b;
}*/

.list-group-item-text {
  font-family:sans-serif;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
  /*color: #f0126b;*/
  color: #606060;
}

.updateBillModal {
  background-color: #FFCB9A;
}

.modal-title, h5 {
  font-size: 25px;
  color: #d66806;
}

#content {
  /*background-color: rgba(255, 255, 255,0.65);*/
  display: none;
  opacity: .7;
  background-color: #105658;
  padding-left: 25%;
  padding-right: 25%;
}

.authlabel, .createlabel, .updatelabel {
  color: #fdd5af;
  font-size: 18px;
}

#submit-update {
  background-color: #dfc5ac;
  color: #896443;
}

.authClickSignup, .authClickSignin, .authClickPswd, .btn-newbill, .paybill, .updatebill {
  background-color: #FFCB9A;
  border: 2px solid;
  border-radius: 15px;
  color: #544436;
  font-size: 15px;
}

.signup, .signin, .pswdchange, .createBill, .updateBill {
  background-color: #c7baaf;
}

.message {
  color: #e55506;
  font-family: sans-serif;
  font-size: 18px;
  text-align: left;
}

#billmsg {
  color: #e55506;
  font-family: sans-serif;
  font-style: italic;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}
